<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts::head"></head>

<body>

	<nav th:replace="layouts::nav" ></nav>
	
	<h1>Create New Item</h1>

	<section>
		<div id="todoList">
			<h3>Create a New Item.</h3>
			
			<form action="/save" method="POST" th:object="${item}">
				<div class="form-group">
					<label for="description">ToDo Description</label>
					<input type="text" class="form-control form-control-lg" id="description" th:field="${item.description}"> 
					<small class="form-text text-muted">Enter your ToDo item description.</small>
				</div>
				<button type="submit" class="btn btn-primary" value="Submit">Submit</button>
				<button type="reset" class="btn btn-primary" vale="Reset">Reset</button>
			</form>
			<hr/>
		<a href="/" class="btn btn-primary" id="todo">Go Back Home</a>
		</div>
	</section>
	
</body>


</html>