<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts::head"></head>

<body>

	<nav th:replace="layouts::nav" ></nav>

	<h1>Welcome to the ToDo List Application</h1>

	<section>
		<h3>ToDo Items.</h3>
		
		<div id="todoList">	
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Description</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item: ${todoItemsList}">
						<th scope="row"><a th:href="@{/view/item/} + ${item.id}" th:text="${item.id}"></a></th>
						<td><a th:href="@{/view/item/} + ${item.id}" th:text="${item.description}"></a></td>
						<td width="40%">
							<div class="container">
								<div class="row">
									<div class="col">
										<form class="form-inline" method="get" th:action="@{/edit/item/} + ${item.id}">
										<button value="Edit" type="submit" class="btn btn-warning btn-sm">Edit</button>
										</form>
									</div>
									<div class="col">
										<form class="form-inline" method="get" th:action="@{/mark/complete/item/} + ${item.id}">
										<button value="Edit" type="submit" class="btn btn-primary btn-sm">Complete</button>
										</form>
									</div>
									<div class="col">
										<form class="form-inline" method="get" th:action="@{/delete/item/} + ${item.id}">
										<button value="Delete" type="submit" class="btn btn-danger btn-sm">Delete</button>
										</form>
									</div>
								</div>
							</div>
						</td>
					</tr>			
				</tbody>
			</table>
		</div>
	</section>
	<hr>
	<section>

		<h3>Completed Items.</h3>
		
		<div id="todoList">	
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Description</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item: ${completedItemsList}">
						<th scope="row"><a th:href="@{/view/item/} + ${item.id}" th:text="${item.id}"></a></th>
						<td><a th:href="@{/view/item/} + ${item.id}" th:text="${item.description}"></a></td>
						<td width="40%">
							<div class="container">
								<div class="row">
									<div class="col">
										<form class="form-inline" method="get" th:action="@{/edit/item/} + ${item.id}">
										<button value="Edit" type="submit" class="btn btn-warning btn-sm">Edit</button>
										</form>
									</div>
									<div class="col">
										<form class="form-inline" method="get" th:action="@{/mark/todo/item/} + ${item.id}">
										<button value="Edit" type="submit" class="btn btn-primary btn-sm">ToDo</button>
										</form>
									</div>
									<div class="col">
										<form class="form-inline" method="get" th:action="@{/delete/item/} + ${item.id}">
										<button value="Delete" type="submit" class="btn btn-danger btn-sm">Delete</button>
										</form>
									</div>
								</div>
							</div>
						</td>
					</tr>			
				</tbody>
			</table>
		</div>
	</section>
	<hr>
</body>


</html>