<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts::head"></head>

<body>

	<nav th:replace="layouts::nav" ></nav>
	
	<h1>Item Detail</h1>

	<section>
	
		<h3>Item Detail.</h3>
		<div id="todoList">
		
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Description</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					<th scope="row" th:text="${itemDetail.id}"> </th>
						<td th:text="${itemDetail.description}"/>
						<td>
							<form class="form-inline" method="get" th:action="@{/delete/item/} + ${itemDetail.id}">
							<button value="Delete" type="submit" class="btn btn-danger">Delete</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>		

		</div>
		<hr/>
		<a href="/" class="btn btn-primary" id="todo">Go Back Home</a>
		<a href="/create" class="btn btn-primary" id="todo">Create Another Item</a>
		
	</section>
</body>


</html>