<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts::head"></head>

<body>

	<nav th:replace="layouts::nav" ></nav>

	<h1>Shuffled Items</h1>

	<section>

		<h3>Shuffled Items.</h3>
		
		<div id="todoList">	
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Description</th>
						<th scope="col">Completed?</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="items: ${itemsList}">
						<th scope="row" th:text="${items.id}"> </th>
						<td th:text="${items.description}"/>
						<td th:text="${items.completed}"/>
					</tr>			
				</tbody>
			</table>
		</div>
		
	</section>
</body>


</html>