<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts::head"></head>

<body>

	<nav th:replace="layouts::nav" ></nav>

	<h1>Sorted Items</h1>

	<section>

		<h3>Sorted Items.</h3>
		
		<div id="todoList">	
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Description</th>
						<th scope="col">Completed?</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="items: ${itemsList}">
						<th scope="row" th:text="${items.id}"> </th>
						<td th:text="${items.description}"/>
						<td th:text="${items.completed}"/>
						<td>
							<form class="form-inline" method="get" th:action="@{/delete/item/} + ${items.id}">
							<button value="Delete" type="submit" class="btn btn-danger">Delete</button>
							</form>
						</td>
					</tr>			
				</tbody>
			</table>
		</div>
		
	</section>
</body>


</html>